<div class="messages">


<% if ( typeof errors !='undefined'){ %>
    <h6 class='error-message'><%=errors[0].msg %></h6>
<% } %>


<% if(success_msg!='') { %>
    <h6 class='success-message'><%=success_msg %></h6>
<% } %>



<% if(error_msg!='') { %>
    <h6 class='error-message'><%=error_msg %></h6>
<% } %>


<% if(error!='') { %>
    <h6 class='error-message'><%=error %></h6>
<% } %>

</div>