<div class="nav-container">
  <h3>&lt Konst /></h3>
  <ul class="nav-list">

    <li><a href="/">Home</a></li>
    <li>Rules</li>
    <li>Archive</li>
    <li>About</li>
    <%if (typeof user =='undefined'){ %>
    <li><a href="/user/login">Login</a></li>
    <% } else{ %>
    <li><a href="/user/logout">Logout</a></li>
    <li><a href="/user/profile">[<%=user.name%>]</a></li>
    <% } %>
  </ul>
</div>
