<html>
  <head>
    <title>Konst - About</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%-include("partials/background.ejs")%> <%-include("partials/navbar.ejs")%>
    <div class="main-container">
      <h1 class="main-heading">About Konst</h1>
      <img src="/img/konst.png" class="logo" />

      <p>
        Konst is an initiative by D'Coders Club - The Techninal Institute Of
        <a class="link" href="http://srmcem.ac.in/">SRMGPC</a>. It is aimed at
        spreading the knowledge of computer science and programming and Konst is
        an integral part of that goal. It aims to challege computer science
        students with simple yet unique questions that require "out of the box"
        thinking and quick problem solving. Konst is 100% free-to-use and offers
        certifications free of cost to the top performers.
      </p>
      <img src="/img/DCoders.png" class="logo" />
      <p>
        D'coders club is the first and the most unique Tech club of
        <a class="link" href="http://srmcem.ac.in/">SRMGPC</a>. The club focuses
        on enhancement and encouragement of skills in tech. It conducts many
        events like Competitive coding, webinars, podcasts, quizes and tech
        talks to encourage students to explore their skills and knowledge.
        D'coders club is the most useful and beneficial amongst all the other
        clubs. It not only showcases different skills but also guides the
        beginners by sharing the best resources available. The club comprises of
        10 outstanding coordinators, and very talented 16 Assistant
        Coordinators. All the members have contributed much and raised the club
        to this level. My supreme talented Techies, ideas are worthless until
        you get them out of your head to see what they can do. No matter what
        people tell you, technology and ideas can change the world. So gear up
        your plans and refine your work with us!
      </p>

      <a class="link" target="_blank" href="https://instagram.com/dcodersclub"
        >[Instagram]</a
      ><a
        class="link"
        target="_blank"
        href="https://www.linkedin.com/company/d-coders-club/"
        >[Linkedin]</a
      ><a class="link" target="_blank" href="https://twitter.com/DcoderClub"
        >[Twitter]</a
      >
      <h1 class="main-heading">Sponsored By</h1>
      <A href="https://linktr.ee/gfg_srmgpc" target="_blank"
        ><img src="/img/logo_gfg.png" class="logo gfg"
      /></A>

      <h1 class="main-heading">Developers</h1>
      <div class="cards">
        <a href="https://github.com/purry03" target="_blank"
          ><img class="card" src="/img/purry03.png"
        /></a>
        <a href="https://github.com/bit-shashank" target="_blank"
          ><img class="card" src="/img/bit-shashank.png"
        /></a>
      </div>
    </div>
    <script src="/js/github.js" type="module"></script>
    <script src="/js/nav.js"></script>
  </body>
</html>
