<html>
	<head>
		<title>Konst - Home</title>
		<link rel="stylesheet" href="/css/global.css" />
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<%-include("partials/background.ejs")%>
		<%-include("partials/navbar.ejs")%>
		<div class="main-content">
			<h1 class="main-heading">Konst - April 2021</h1>
			<h3 class="sub-heading">
				Can you beat your friends at the art of programming?
			</h3>
			<h2 class="sub-heading timer-text">
				STARTS IN :
				<span class="timer">25 hours 39 minutes 23 seconds</span>
			</h2>

			<a href="/user/register">
				<button class="register-button">Register Now</button>
			</a>

			<a href="/contest">
				<button class="register-button">Compete Now</button>
			</a>
		</div>
	</body>
</html>
