<html>
  <head>
    <title>Not Supported</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/mobile.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <div class="main">
      <h1>Not supported</h1>
      <h3>Reopen the site on a Desktop PC to continue</h3>
    </div>
  </body>
</html>
