<html>
  <head>
    <title>Konst - Home</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/rules.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%-include("partials/background.ejs")%> <%-include("partials/navbar.ejs")%>
    <div class="main-container">
      <h1>RULES</h1>
      <ol>
        <li>
          This is an IOI style contest. This means that the problems will be
          partially graded. You will get score for passing certain test data.
        </li>
        <li>
          The details of the failed test cases will also be visible on your
          solution page.
        </li>
        <li>
          You can submit solutions as many times as you'd like, there are no
          penalties for incorrect submissions. Only your best correct submission
          will be considered.
        </li>
        <li>
          Those who achieve the score first will be placed higher in the
          ranklist in case of a tie.
        </li>
        <li>
          We have removed all the Institutions that we could not identify from
          our database. We request you to update your institutions once again by
          going to your profile page.
        </li>
        <li>
          You can also send in your queries in an email to help@codechef.com,
          during the contest.
        </li>
        <li>
          Please do not discuss strategy, suggestions or tips in the comments
          during a live contest. Posting questions clarifying the problem
          statement is ok. If you are unsure, email us at feedback@codechef.com
          .
        </li>
        <li>
          Discussing CodeChef's problems or any aspect of problem, on any other
          platform on web, on identification, could lead to disabling of
          respective account and banning from the community.
        </li>
      </ol>
    </div>
    <script src="/js/nav.js"></script>
  </body>
</html>
