body {
  overflow-x: hidden;
  overflow-y: auto;
}

.main-container {
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
}

.link {
  border-bottom: 1px dashed #eee;
  margin: 0 10px;
  transition: all 0.25s;
}

.link:hover {
  color: #33ff00;
  border-color: #33ff00;
}

.main-heading {
  margin: 25px;
  margin-top: 50px;
  text-align: center;
}

p {
  text-align: left;
  text-indent: 1rem;
  padding: 30px 50px;
  line-height: 2;
}

.logo {
  display: inline-block;
  height: 250px;
  margin: 0 10px;
}

.gfg {
  height: 250px;
}

.cards {
  height: 500px;
}
github-card {
  height: 100% !important;
}
