body{
    overflow-y: auto;
}

.container{
    width: 66%;
    margin:30px auto 30px auto;
    align-self: center;
    padding:10px 0;
}


.annoucement{
    margin:10px;
    background: rgba(0,0,0,0.5);
    padding:30px;
    border-radius: 10px;
}

.heading{
    font-family: "Share Tech Mono", monospace;
    font-size: 1.5rem;
    color: #33ff00;
}

.annoucement h6{
    margin-top: 5px;
    font-size:1rem;
    color : #33ff00;
}

.content{
    margin-top: 25px;
    font-family: "Share Tech Mono", monospace;
    font-size:1rem;
    color: #ccc;

}