.nav-container {
  text-align: center;
}

.nav-container h3 {
  display: inline-block;
  color: #252a34;
  font-size: 1.25rem;
}

.left-container {
  position: relative;
  width: 50%;
  max-width: 50%;
  height: 92%;
  float: left;
  border-right: 1px dashed #aaa;
}

.ascii-art {
  position: absolute;
  font-family: monospace;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90%;
  width: 90%;
  font-size: 0.9rem;
  white-space: pre-wrap;
}

.right-container {
  width: 50%;
  max-width: 50%;
  height: 92%;
  padding: 25px 10px;
  float: right;
  overflow-y: auto;
}

.question-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

.question-list li {
  display: inline;
  margin: 0 15px;
}

.solved {
  color: #33ff00 !important;
  border-bottom: 1px dashed #33ff00 !important;
  cursor: pointer;
}

.link-active {
  color: #eee;
  border-bottom: 1px dashed #aaa;
  cursor: pointer;
}

.link-disabled {
  color: #6b6b6b;
  border-bottom: none;
  cursor: not-allowed;
}

.question-heading {
  margin-bottom: 25px;
}

.question {
  margin-bottom: 50px;
  white-space: pre-wrap;
  tab-size: 0em;
}

.answer-field {
  display: block;
  width: 50%;
  padding: 5px;
  outline: none;
  margin-bottom: 25px;
  font-family: "Share Tech Mono", monospace;
}

.submit-button,
.finish-button {
  display: block;
  height: 50px;
  padding: 5px 15px;
  margin-bottom: 25px;
  background-color: #33ff00;
  font-family: "Share Tech Mono", monospace;
  color: #333;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

.finish-button {
  width: 100%;
}

.disabled {
  background-color: #6b6b6b;
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.messages {
  margin-bottom: 25px;
  text-align: center;
}

.messages h6 {
  padding: 5px 0;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
}

.error-message {
  background-color: crimson;
  color: #eee;
}

.success-message {
  background-color: springgreen;
  color: #333;
}
