.timer-text {
  font-size: 1.25rem;
}

.timer {
  color: #33ff00;
}

.register-button {
  display: inline-block;
  height: 50px;
  padding: 5px 15px;
  margin-top: 25px;
  background-color: #33ff00;
  font-family: "Share Tech Mono", monospace;
  color: #333;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}
