body {
  overflow-y: auto;
}

.board-container {
  text-align: center;
  padding: 25px;
}

.board-container h1 {
  margin-top: 25px;
  font-size: 3rem;
  color: #33ff00;
}

table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}

tr,
td,
th {
  border: 1px solid #aaa;
}

th,
td {
  text-align: center;
  padding: 10px;
}
