body{
    overflow-y: auto;
}

.main-container{
    padding:30px;
    text-align: center;
}

.main-container h1{
    font-size :3rem;
    text-align: center;
    color : #33ff00;
}

ol li{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 50px 50px;
}

ol{
    list-style: none;
    counter-reset: rule;

}

ol li::before{
    counter-increment: rule;
    content :  counter(rule)" >        ";
    color : #33ff00;
    white-space: pre-wrap;
}