<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Konst - Login</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

  </head>
  <body>
    <%-include("../partials/background.ejs")%>
    <%- include("../partials/navbar.ejs") %> 
    
      <div class='form-container'>
        <h1 class='main-heading'>LOGIN</h1>
        <div class='input-container'>
          <%-include("../partials/messages.ejs") %>
        <form method="POST" action="/user/login">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />

          <a class='register-link' href="/user/register">dont have an account ?</a>
        </div>
          <button type="submit">Log-In</button></form>
      </div>
      <script src="/js/nav.js"></script>

  </body>
</html>
